@import "tailwindcss";

html, body, #root {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #e8eaed 0%, #d3d6db 100%);
  color: #5f6368;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f3f4;
}

::-webkit-scrollbar-thumb {
  background: #dadce0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bdc1c6;
}

::-webkit-scrollbar-corner {
  background: #f1f3f4;
}
